body{
    background-color:ghostwhite;
}

input {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

input:focus {
    border-color: #999;
    box-shadow: 0 0 5px #999;
}

input[type="submit"] {
    margin-top: 20px;
}

label, h2 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

.formik {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}